<div>
  <div class="row align-items-center align-self-center justify-content-center">
    <div >
      <div class="form">
        <input type="file" class="file-input"
        (change)="onFileSelect($event)" #fileUpload>
        
        <div class="file-upload">
            <span>
              {{fileName || "No file uploaded yet."}}
            </span>
            <button class="upload-btn"
              (click)="fileUpload.click()">
            </button>
        </div>
        
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
      </div>
      <a href="../../../assets/sample_stock_data.xlsx">Click here to download sample excel file.</a>
    </div>
  </div>
  
  
  
  
  <div *ngIf="hasData" class="row">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Company Code</th>
        <th scope="col">Exchange</th>
        <th scope="col">Price Per Share</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let s of stockPrice">
        
        <td>{{s.companyCode}}</td>
        <td>{{s.exchangeName}}</td>
        <td>{{s.price}}</td>
        <td>{{s.date| date}}</td>
        <td>{{s.time}}</td>
  
      </tr>
    </tbody>
  </table>
  </div>
</div>